body, ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.slideshow {
  margin: 100px auto 0;
  width: 1340px;
}

ul {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 336px;
}

ul li {
  position: absolute;
  transition: 0.5s;
}

ul .list1 {
  transform: scale(0.7, 0.7);
  transform-origin: 0% 100%;
}

ul .list2 {
  transform: translateX(305px);
  z-index: 10;
}

ul .list3 {
  transform-origin: 100% 100%;
  transform: translateX(610px) scale(0.7, 0.7);
  z-index: 5;
}

ul .list4 {
  transform: translateX(915px) scale(0.7, 0.7);
  transform-origin: 100% 100%;
}

ul .list5 {
  transform: translateX(1220px) scale(0.7, 0.7);
  transform-origin: 100% 100%;
}

ul .list6 {
  transform: translateX(1525px) scale(0.7, 0.7);
  transform-origin: 100% 100%;
}

ul .list7 {
  transform: translateX(1830px) scale(0.7, 0.7);
  transform-origin: 100% 100%;
}

ul .list8 {
  transform: translateX(2135px) scale(0.7, 0.7);
  transform-origin: 100% 100%;
}

.blocks {
  text-align: center;
}

.blocks span {
  display: inline-block;
  width: 35px;
  height: 7px;
  background-color: #ccc;
}

.blocks .select {
  background-color: #09b626;
}
